<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%=title %></title>
    <%-include('partials/head.ejs')%>

</head>
<body>
    <%- include('partials/navigation.ejs')%>
    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1 class="display-1">
                About
            </h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi temporibus eligendi ipsa dolorum! Asperiores quaerat ab a obcaecati quidem facilis facere recusandae maxime laudantium ipsa! Neque accusantium error quidem optio ea voluptate, ipsam ducimus in reprehenderit corrupti sed fugiat voluptatum vitae quis autem voluptates maiores amet. Est numquam itaque maiores commodi provident rerum reprehenderit ullam ducimus autem dolorum quaerat adipisci nesciunt incidunt exercitationem inventore expedita voluptates doloremque quos, sint at voluptatum iusto. Cum inventore velit, error enim totam cumque, ullam animi quis quae in quos ab iste quibusdam eius rem facilis molestiae nulla voluptatum id? Recusandae aliquid mollitia magnam laudantium sit minus laborum accusantium atque aut quam distinctio dolor ipsam sint perferendis saepe at commodi explicabo, maxime veniam impedit ipsum blanditiis rerum corporis! Consectetur tenetur quia ipsum! Perferendis illum architecto perspiciatis nihil delectus voluptatum dolore? Minus nobis expedita perferendis, similique eos veritatis eaque quam repellat earum iure dignissimos aut nostrum hic, praesentium, soluta repudiandae sint molestias libero exercitationem laudantium alias quidem. Ex veritatis ad sit inventore, maxime consectetur aut quidem tempore voluptas laudantium animi non nam doloribus aspernatur sint atque necessitatibus deleniti, neque et molestiae voluptates cumque sapiente? Laborum optio ipsam perspiciatis consequatur ab enim modi veniam. Accusantium, voluptate culpa?</p>
        </section>
    </main>

</body>
</html>